body {
    margin: 0px !important;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background-color: #f8f8f8 !important;
}

input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.piclen {
    display: inline-block;
    float: left;
    margin-right: 30px;
}

.info {
    overflow: hidden;
    background-color: #333;
    font-size: 17px;
    padding: 18px 0px 0px 10px;
    float: left;
    color: #C00000;
    display: inline;
    vertical-align: bottom;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.topnav {
    overflow: hidden;
    background-color: #333;

}

.topnavitem {
    background-color: #4CAF50;
    height: 41px;
}

.topnav a {
    padding: 5px 8px 5px 8px;
    float: left;
    text-align: center;
    text-decoration: none;
    font-size: 27px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.topnav img {
    padding: 5px 0px 5px 8px;
    float: left;
    font-size: 27px;
}

#urlDiv,
#fileDiv,
#textDiv {
    display: none;
}

input[id="showURL"]:checked~#urlDiv,
input[id="showText"]:checked~#textDiv,
input[id="showFile"]:checked~#fileDiv {
    display: block;
}

.content {
    max-width: 800px;
    margin: auto;
    padding: 18px;
    border-radius: 5px;
    background: #E8C9C3;
    box-shadow: 0px 0px 5px grey;
}