<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8">

   <head>
      <link rel="icon" type="image/png"
         href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABSUlEQVQ4jZ2Tu0oDURCG90myKwERC8FKfAAfwdZCsU0bmwhWglY2Ad2zRhS0sUshsUiRRjQgMQYEG20khezZZO+5bD6LQGJINpoUfzPDfDNz5vxKQpj7qrBCTUhmkSqsUNWtjKIJ2Zq1eADRZajMWrR1Z3Py7LN2baEJiaIJSbbiYwbRVB0+emhC0gwjAPSqPwTo1QCv3RtTq9sDoBFGrFz2O+4UbLIVn/WbXxPEqVxvA3Bc9gaxzXyTVNEZXWGSdu9tAL79iOWLYbzw2QJgu+DEA5KG5F12ADh48EZy/wKkSy4AX06XxXM5G2ApJ6m7XQD2Su4Y/E/A0ZMHwEejS9IYn24qYPXKwm7175wqOhMfdyrAeA0AeDM7LMRcJxaQNCSnLz65WsBmvhn7N9Ill1wtYOO20QfM48SBmYQVKomzOe2sy1DVzcwP7InxY4zEPaQAAAAASUVORK5CYII=">
      <link rel="stylesheet" type="text/css" href="shorter.css">
      <script src="sjcl.js"
         integrity="sha384-FFPJVWGI3DSq/EWczQYdkJKom9PM1KwTzBRZdjmlyheyETBjgrdbXZLSsKUqFSGw"></script>
      <script src="shorter.js"></script>
   </head>

<body>
   <div class="topnav">
      <img src="logo.png" class="topnavitem"></img>
      <a class="topnavitem">Temp Url shortener</a>
      <div class="info">Pre Alpha test site, links will be cleard during development without notice.</div>
   </div>
   <br>
   <div class="content">
      <form id="shortener" method="POST" enctype="multipart/form-data">
         <div class="piclen">
            <input type="radio" name="len" value="1" checked>Length 1: valid for 10min<br />
            <input type="radio" name="len" value="2">Length 2: valid for 12h<br />
            <input type="radio" name="len" value="3">Length 3: valid for 30days<br /><br />
         </div>
         <input type="radio" name="requestType" id="showURL" value="url" checked>Redirect to temporary URL<br />
         <input type="radio" name="requestType" id="showText" value="text">Temporary text dump<br />
         <input type="radio" name="requestType" id="showFile" value="file">Uppload temporary file<br /><br />
         <div id="urlDiv">
            Submit URL to temporarly redirect to:<br />
            <input type="text" name="url" class="inputbox" placeholder="Your URL Here"><br />
         </div>
         <div id="textDiv">
            Submit text to temporarly save: <br />
            <textarea form="shortener" rows="7" cols="80" name="text"></textarea>
         </div>
         <div id="fileDiv">
            Uppload encrypted temporary file: <br />
            <input type="file" id="file" name="file" onchange="loadFile(event)">
         </div>
         <input type="submit"></button>
      </form>
   </div>
</body>
<html>