<!DOCTYPE html>
<html lang="en">

<head>
   <link rel="stylesheet" type="text/css" href="shorter.css">
</head>

<body>
   <div class="content">
      <div class="tos">Temporary link:<br>
         <H1><a href="{{.Data}}">{{.Data}}</a></H1><br>
         This link will be removed {{.Timeout}}
      </div>
      <div class="info">Please only navigate to the link if you trust the person that generated the link.</div>
      <div class="tos">To create your own temporary links please visit <a href="{{.Domain}}">{{.Domain}}</a></div>
   </div>
</body>

</html>
